#FamilyTree {
    height: 100%;
    /* background-color: green; */
    overflow: auto;
    /* color: #056f1f */
    /* #8dd3c7,#ffffb3,#bebada,#fb8072,#80b1d3","#fdb462","#b3de69","#fccde5","#d9d9d9","#bc80bd","#ccebc5","#ffed6f","#eea60d","#a9402a","#845d54",,"#056f1f","#475e4c" */
}

.svgHolder {
    display: inline-block;
}
  
.menu1{
    position: absolute;
    left: 440px;
    top: 20px;
}

.menu2{
    position: absolute;
    left: 1450px;
    top: 20px;
}