#ScatterPlot {
    height: 100%;
    /* background-color: blue; */
}

.avatar-view {
    float: left;
    margin-left: 10px;
    margin-top: 16px;
}

.info-view {
    float: left;
    margin-left: 30px;
    margin-top: 16px;
}

.points{
    opacity: 0.8;
}
