#DetailInfo {
    height: 100%;
    /* background-color: blueviolet; */
}

#body{
    margin : calc(8%)
}

.ant-descriptions-item-label {
    font-weight: normal;
    font-size: 15px;

}

.ant-descriptions-row > td {
    padding-bottom: 4px;
}

.ant-descriptions-title {
    margin-bottom: 10px;
}