#BarChart{
    /* height: 30%; */
    background-color: white;
    overflow: hidden;
}

#AttributesHeatmap {
    height: 100%;
    background-color: white;
    overflow: auto;
}


.heatmap-tooltip {
    position: absolute;
    /* width: 60px;
    height: 28px; */
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    padding: 2px;
    text-align: center;
    overflow: auto;
  }

  .attr{
      height: calc(100% - 40)
  }


/* ::-webkit-scrollbar {display:none} */