/* 组件容器DIV */
.pane { 
    background: #fff;
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    position: relative;
}

/* 组件标题DIV */
.header {
    background-color: #eee;
    margin: 5px;
    padding-left: 10px;
    padding-top: 4px;
    border-radius: 5px;
    height: 30px;
}

#footer {
    padding: 0 0 0 0;
    line-height: 5vh;
    background-color: #eee;
}







